Data/
Models/
CN3000_vs _1000/Scans_CN/
CN3000_vs _1000/Scans_Converters/
PatchBased3D/Scans_CN/
PatchBased3D/Scans_Converters/
PatchBased3D/DenseNet121/
PatchBased3D/ResNet50/
PatchBased3D/SEResNet50/
CN3000_vs _1000/Scans_Converters/
Final_Models/Test_Converters/
Final_Models/Val_Converters/
Final_Models/Train_Converters/
Final_Models/Test_CN/
Final_Models/Val_CN/
Final_Models/Train_CN/
Final_Models/DenseNet121/
Final_Models/ResNet50/
Final_Models/SEResNet50/